@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";

/* ---FUMADOCS CSS--- */
@theme {
	--color-fd-background: var(--color-background);
	--color-fd-foreground: var(--color-foreground);
	--color-fd-muted: var(--color-card-muted);
	--color-fd-muted-foreground: oklch(0.45 0.002 250);
	--color-fd-popover: var(--color-card-muted);
	--color-fd-popover-foreground: var(--color-foreground);
	--color-fd-card: var(--color-background);
	--color-fd-card-foreground: var(--color-foreground);
	--color-fd-border: oklch(from var(--color-border) l c h / 0.8);
	--color-fd-primary: var(--color-ring);
	--color-fd-primary-foreground: var(--color-foreground);
	--color-fd-secondary: var(--color-card);
	--color-fd-secondary-foreground: var(--color-foreground);
	--color-fd-accent: var(--color-card-elevated);
	--color-fd-accent-foreground: var(--color-foreground);
	--color-fd-ring: var(--color-ring);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

.dark {
	--color-fd-background: var(--color-background);
	--color-fd-foreground: var(--color-foreground);
	--color-fd-muted: var(--color-card);
	--color-fd-muted-foreground: oklch(0.65 0.007 248);
	--color-fd-popover: var(--color-card-muted);
	--color-fd-popover-foreground: var(--color-foreground);
	--color-fd-card: var(--color-background);
	--color-fd-card-foreground: var(--color-foreground);
	--color-fd-border: oklch(from var(--color-border) l c h / 0.6);
	--color-fd-primary: var(--color-ring);
	--color-fd-primary-foreground: var(--color-foreground);
	--color-fd-secondary: var(--color-card-muted);
	--color-fd-secondary-foreground: var(--color-foreground);
	--color-fd-accent: var(--color-card-elevated);
	--color-fd-accent-foreground: var(--color-foreground);
	--color-fd-ring: var(--color-ring);
}

:root {
	--fd-layout-width: 1600px;
	--fd-page-width: 1400px;
}

@utility container {
	margin-inline: auto;
	padding-inline: 0rem;

	@apply 2xl:max-w-[1400px];
}

@layer utilities {
	.bg-dashed {
		background-image: linear-gradient(
			45deg,
			var(--color-fd-border) 12.5%,
			transparent 12.5%,
			transparent 50%,
			var(--color-fd-border) 50%,
			var(--color-fd-border) 62.5%,
			transparent 62.5%,
			transparent 100%
		);
		background-size: 0.25rem 0.25rem;
	}
}

:root {
	--color-background: oklch(0.999 0.004 285.89);
	--color-card: oklch(1 0 0);
	--color-card-muted: oklch(0.9654 0.003 285.89);
	--color-foreground: oklch(0.15 0.005 285.89);
	--color-border: oklch(0.9025 0.0014 285.89);
	--color-ring: oklch(0.55 0.012 285.89);
	--color-ring-offset: oklch(0.96 0.002 285.89);
	--color-overlay: oklch(0.92 0.003 285.89 / 0.65);
	--color-gradient-from: oklch(0.3203 0.0141 285.89);
	--color-gradient-to: oklch(0.2517 0.0169 285.89);
	--color-error: oklch(0.62 0.21 25);
	--color-warning: oklch(0.8 0.2 75);
	--color-success: oklch(0.7 0.18 155);
	--shadow-xs: 0px 1px 1px -0.5px rgba(9, 9, 11, 0.05);

	--shadow-sm:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05), 0px 3px 3px -1.5px
		rgba(9, 9, 11, 0.05), 0px 6px 6px -3px rgba(9, 9, 11, 0.05);

	--shadow-md:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 12px 12px -6px rgba(9, 9, 11, 0.05),
		0px 24px 24px -12px rgba(9, 9, 11, 0.05);

	--shadow-lg:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 16px 16px -8px rgba(9, 9, 11, 0.05),
		0px 32px 32px -16px rgba(9, 9, 11, 0.05);

	--shadow-xl:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 20px 20px -10px rgba(9, 9, 11, 0.05),
		0px 40px 40px -20px rgba(9, 9, 11, 0.05);

	--shadow-2xl:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 24px 24px -12px rgba(9, 9, 11, 0.05),
		0px 48px 48px -24px rgba(9, 9, 11, 0.05);

	--shadow-inner:
		inset 0px 1px 2px rgba(9, 9, 11, 0.05), inset 0px -1px 2px
		rgba(0, 0, 0, 0.025);

	--radius-base: 0.175rem;
}

.dark {
	--color-background: oklch(0.14 0.0045 285.89);
	--color-card: oklch(0.1703 0.005 285.89);
	--color-card-muted: oklch(0.2139 0.005 286.03);
	--color-foreground: oklch(0.96 0.003 285.89);
	--color-border: oklch(0.278 0.006 285.89);
	--color-ring: oklch(0.58 0.012 285.89);
	--color-ring-offset: oklch(0.15 0.005 285.89);
	--color-overlay: oklch(0.12 0.004 285.89 / 0.65);
	--color-gradient-from: oklch(0.3203 0.0041 285.89);
	--color-gradient-to: oklch(0.2517 0.0069 285.89);
	--color-error: oklch(0.58 0.22 25);
	--color-warning: oklch(0.75 0.18 75);
	--color-success: oklch(0.68 0.19 155);
	--shadow-xs: 0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),;

	--shadow-sm:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05), 0px 3px 3px -1.5px
		rgba(9, 9, 11, 0.05), 0px 6px 6px -3px rgba(9, 9, 11, 0.05);

	--shadow-md:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 12px 12px -6px rgba(9, 9, 11, 0.05),
		0px 24px 24px -12px rgba(9, 9, 11, 0.05);

	--shadow-lg:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 16px 16px -8px rgba(9, 9, 11, 0.05),
		0px 32px 32px -16px rgba(9, 9, 11, 0.05);

	--shadow-xl:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 20px 20px -10px rgba(9, 9, 11, 0.05),
		0px 40px 40px -20px rgba(9, 9, 11, 0.05);

	--shadow-2xl:
		0px 1px 1px -0.5px rgba(9, 9, 11, 0.05),
		0px 3px 3px -1.5px rgba(9, 9, 11, 0.05),
		0px 6px 6px -3px rgba(9, 9, 11, 0.05),
		0px 24px 24px -12px rgba(9, 9, 11, 0.05),
		0px 48px 48px -24px rgba(9, 9, 11, 0.05);

	--shadow-inner:
		inset 0px 1px 2px rgba(9, 9, 11, 0.05), inset 0px -1px 2px
		rgba(0, 0, 0, 0.025);

	--radius-base: 0.175rem;
}

@theme {
	--font-mono: var(--font-ppneuemontrealmono);
	--font-ppneuemontreal: var(--font-ppneuemontreal);
	--color-background: var(--background);
	--color-card: var(--card);
	--color-card-muted: var(--card-muted);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--color-ring-offset: var(--ring-offset);
	--color-overlay: var(--overlay);
	--color-gradient-from: var(--gradient-from);
	--color-gradient-to: var(--gradient-to);
	--color-error: var(--error);
	--color-warning: var(--warning);
	--color-success: var(--success);
	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-inner: var(--shadow-inner);
	--radius-xs: calc(var(--radius-base) * 1);
	--radius-sm: calc(var(--radius-base) * 2);
	--radius-md: calc(var(--radius-base) * 3);
	--radius-lg: calc(var(--radius-base) * 4);
	--radius-xl: calc(var(--radius-base) * 6);
	--radius-2xl: calc(var(--radius-base) * 8);
	--radius-3xl: calc(var(--radius-base) * 12);
	--radius-4xl: calc(var(--radius-base) * 16);
	--radius-full: 9999px;
}

@layer base {
	body {
		@apply font-ppneuemontreal bg-fd-background;
	}
}
