@import "tailwindcss";

@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/solar.css";

:root {
	--color-background: oklch(0.99 0 0);
	--color-background-muted: oklch(0.952 0 0);
	--color-background-elevated: oklch(0.87 0 0);
	--color-foreground: oklch(0.205 0 0);
	--color-foreground-muted: oklch(0.371 0 0);
	--color-foreground-subtle: oklch(0.708 0 0);
	--color-border: oklch(0.205 0 0);
	--color-border-muted: oklch(0.952 0 0);
	--color-border-subtle: oklch(0.708 0 0);
	--color-ring: oklch(0.205 0 0);
	--color-ring-offset: oklch(0.97 0 0);
	--color-primary: oklch(0.205 0 0);
	--color-primary-foreground: oklch(0.97 0 0);
	--color-primary-muted: oklch(0.371 0 0);
	--color-overlay: oklch(0.97 0 0);
	--color-gradient-primary-start: oklch(0.391 0 0);
	--color-gradient-primary-end: oklch(0.205 0 0);
	--color-primary-white: oklch(0.97 0 0);
	--radius-base: 0.125rem;
}

.dark {
	--color-background: oklch(0.205 0 0);
	--color-background-muted: oklch(0.259 0 0);
	--color-background-elevated: oklch(0.371 0 0);
	--color-foreground: oklch(0.97 0 0);
	--color-foreground-muted: oklch(0.87 0 0);
	--color-foreground-subtle: oklch(0.556 0 0);
	--color-border: oklch(0.97 0 0);
	--color-border-muted: oklch(0.259 0 0);
	--color-border-subtle: oklch(0.371 0 0);
	--color-ring: oklch(0.97 0 0);
	--color-ring-offset: oklch(0.205 0 0);
	--color-primary: oklch(0.97 0 0);
	--color-primary-foreground: oklch(0.205 0 0);
	--color-primary-muted: oklch(0.87 0 0);
	--color-overlay: oklch(0.145 0 0);
	--color-gradient-primary-start: oklch(0.391 0 0);
	--color-gradient-primary-end: oklch(0.2768 0 0);
	--color-primary-white: oklch(0.952 0 0);
	--radius-base: 0.125rem;
}

@theme {
	--font-sfpro: var(--font-sfpro);
	--color-background: var(--background);
	--color-background-muted: var(--background-muted);
	--color-background-elevated: var(--background-elevated);
	--color-foreground: var(--foreground);
	--color-foreground-muted: var(--foreground-muted);
	--color-foreground-subtle: var(--foreground-subtle);
	--color-primary: var(--primary);
	--color-primary-muted: var(--primary-muted);
	--color-border: var(--border);
	--color-border-muted: var(--border-muted);
	--color-border-subtle: var(--border-subtle);
	--color-ring: var(--ring);
	--color-ring-offset: var(--ring-offset);
	--color-primary-foreground: var(--primary-foreground);
	--color-gradient-primary-start: var(--gradient-primary-start);
	--color-gradient-primary-end: var(--gradient-primary-end);
	--color-overlay: var(--overlay);
	--color-primary-white: var(--primary-white);
	--radius-sm: calc(var(--radius) * 0.5);
	--radius-xs: calc(var(--radius-base) * 1);
	--radius-sm: calc(var(--radius-base) * 2);
	--radius-md: calc(var(--radius-base) * 3);
	--radius-lg: calc(var(--radius-base) * 4);
	--radius-xl: calc(var(--radius-base) * 6);
	--radius-2xl: calc(var(--radius-base) * 8);
	--radius-3xl: calc(var(--radius-base) * 12);
	--radius-4xl: calc(var(--radius-base) * 16);
	--radius-full: 9999px;
}

@layer base {
	body {
		@apply font-sfpro;
	}
}

@layer utilities {
	/* Light mode */
	.bg-custom-radial {
		background-image: radial-gradient(
			125% 125% at 50% 0%,
			hsl(0, 0%, 92%),
			hsl(0, 0%, 70%)
		);
	}

	/* Dark mode */
	.dark .bg-custom-radial {
		background-image: radial-gradient(
			125% 125% at 50% 0%,
			hsl(0, 0%, 7%),
			hsl(0, 0%, 10%)
		);
	}
}
